@import "bootstrap/scss/bootstrap.scss";


@media (min-width: 768px) {
  #navbarText {
    display: flex;
    justify-content: end;
  }
}

.h-card{
  min-height: 400px;
}

.h-card-center{
  min-height: 441px;
}

.mt-41px{
  margin-top: 41px;
}

.mb-41px{
  margin-bottom: 41px;
}

.my-41px{
  margin-top: 41px;
  margin-bottom: 41px;
}

.input-group-addon{color:#ff0000; background-color: #ffffff;}