@import "node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


@include media-breakpoint-up(md) {
  #navbarText {
    display: flex;
    justify-content: end;
  }
}

.h-card{
  min-height: 250px;
}

.h-card-center{
  min-height: 291px;
}

.mt-41px{
  margin-top: 41px;
}

.mb-41px{
  margin-bottom: 41px;
}

.my-41px{
  margin-top: 41px;
  margin-bottom: 41px;
}

@include media-breakpoint-up(lg) {
  .h-card{
    min-height: 422px;
  }

  .h-card-center{
    min-height: 463px;
  }
}